header h1 {

    text-align: center;
    font-family: 'Dancing Script', cursive;
}
body {

background-color: rgb(202, 179, 223);
}


header nav ul li {


    background-color: rgb(53, 8, 8);
    color: chartreuse;
    list-style: none;

    font-family: 'Dancing Script', cursive;

}

main nav ol li {

background-color: darkblue;

color: rgb(34, 6, 6);
font-family: 'Dancing Script', cursive;


}

footer nav ol li {

    background-color: darkred;
    color: yellow;
    font-family: 'Dancing Script', cursive;

}

#Cube {

    background-color: darkred;
    position: relative;
    left: 40px;
}

#circle {

    background-color: burlywood;
    position: relative;
    left: 30px;
}

#triangle {


    background-color: cyan;
    position: relative;
    left: 20px;
}

#square {

    background-color: darkmagenta;
    position: relative;
    left: 10px;

}